<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>URL-SHORTENER</title>
</head>
<style>
    body {
        font-family: cursive;
    }
    .cs-heading {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    font-style: oblique;
    padding-top: 15px;
    }
</style>
<body>
    <div class="container">
        <h1 class="cs-heading">URL-SHORTENER</h1>
        <form action="/shortUrls" method="post" class="my-4 form-inline">
            <label  for="fullurl" class="sr-only">URL</label>
            <input placeholder="Enter or paste the url here" type="url" name="fullurl" id="fullurl" required class="form-control col mr-2" />
            <button type="submit" class="btn btn-success">Shrink</button>
        </form>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>

                <% allUrls.forEach((url) => { %>

                    <tr>
                        <td><a target="_blank" href="<%= url.full %>"><%= url.full %></a></td>
                        <td><a target="_blank" href="<%= url.short %>"><%= url.short %></a></td>
                        <td><%= url.clicks %></td>
                    </tr>

                <% }) %>    
                
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item <% if(skip_==0){ %> d-none <% }  %>"><a class="page-link" href="/?skip=<%= skip_-limit_ %>">Previous</a></li>
              <% for(let i=1;i<=num_of_pages;i++) { %>
              <li class="page-item <% if(skip_/limit_+1==i){ %> active <% }  %>"><a class="page-link" href="/?skip=<%= (i-1)*limit_ %>"><%= i %></a></li>
              <% } %>   
              <li class="page-item <% if(skip_==(Math.trunc(num_of_pages)-1)*limit_){ %> d-none <% }  %>"><a class="page-link" href="/?skip=<%= Number(skip_)+Number(limit_) %>">Next</a></li>
            </ul>
          </nav>
    </div>
</body>
</html>